SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="lcdsmartie"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="ardumotor"
KERNEL=="ttyUSB*", KERNELS=="1-1.2.4", SYMLINK+="arduarm"
